form{
    display:flex;
    flex-direction: column;
    background-color: #A8DADC;
    opacity: 0.8;
    border-radius: 5px;
    justify-content: flex-end;
    padding: 10px;
    max-width: max-content;
}